// VARIABLES
$titlecolor: #2e3333;
$textcolor: #868a8a;

// SASS IMPORT
@import "scss/header.scss";
@import "scss/restaurant.scss";
@import "scss/section.scss";
@import "scss/content.scss";
@import "scss/meal.scss";

// GLOBAL

.App {
  font-family: "IBM Plex Sans", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h2,
h3,
h4 {
  color: $titlecolor;
}

p {
  color: $textcolor;
}